flask
flask-cors
sqlalchemy
flask-sqlalchemy
requests
geopy
langchain
langchain_groq
langchain_huggingface
langchain_community
python-dotenv
PyPDF2
fpdf
aiohttp
beautifulsoup4
pymupdf
python-docx
pandas
waitress
gunicorn
sentence-transformers
faiss-cpu
